<ul class="list-group">
  <li
    routerLinkActive="active"
    routerLink=""
    class="list-group-item"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Search
  </li>
  <li
    routerLinkActive="active"
    routerLink="users"
    class="list-group-item"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Users
  </li>
  <li
    routerLinkActive="active"
    routerLink="posts"
    class="list-group-item"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Posts
  </li>
  <li
    routerLinkActive="active"
    routerLink="records"
    class="list-group-item"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    My Records
  </li>
</ul>
