<div class="d-flex flex-column align-items-start gap-2">
  <button
  class="btn btn-danger"
  [disabled]="!records"
  (click)="deleteAll()"
  >Delete All</button>

  <p *ngIf="!records; else showRecords">Don't have records</p>
  <ng-template #showRecords>
    <ul>
      <li *ngFor="let record of records; let i = index" class="card mb-3 p-1">
        <!-- <p>Id: {{ record?.user?.id }}</p> -->
        <p>Id {{ record?.user?.id }} - User: {{ record?.user?.name }}</p>
        <ul>
          <li *ngFor="let post of record.posts">
            <h6>Title: {{ post.title }}</h6>
          </li>
        </ul>
        <div class="row flex justify-content-around">
          <button
            type="button"
            class="col-4 mx-2 btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#updateRecords"
            (click)="selectRecord(record)"
          >
            Update
          </button>
          <button
            type="button"
            class="col-4 mx-2 btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalDelete"
            (click)="selectRecord(record)"
          >
            Delete
          </button>
        </div>
      </li>
    </ul>
  </ng-template>
</div>

<!-- Modal Update -->
<div
  aria-labelledby="updateModalRecords"
  class="modal fade"
  aria-hidden="true"
  id="updateRecords"
  tabindex="-1"
>
  Update record {{ selectedRecord.user.id }}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalRecords">
          Update record {{ selectedRecord.user.id }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          #nameInput
          [value]="selectedRecord.user.name"
          (input)="nameInput.value = nameInput.value.trim()"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>

        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="updateRecord(selectedRecord.user.id, nameInput.value)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal Delete-->
<div
  class="modal fade"
  id="exampleModalDelete"
  tabindex="-1"
  aria-labelledby="deleteModal"
  aria-hidden="true"
>
  <!-- Modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModal">
          Delete record {{ selectedRecord.user.id }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete this record?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>

        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="deleteRecord(selectedRecord.user.id)"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
