<div>
  <input
    type="number"
    min="1"
    max="10"
    class="form-control"
    name="record"
    placeholder="Insert id between 1 - 10 and press enter"
    (keyup.enter)="searchRecord(txtSearch.value)"
    #txtSearch
  />
</div>

<div class="show-info">
  <div class="info" *ngIf="record.user.name; else notInfo">
    <h6>{{ record.user.name }}</h6>
    <ul>
      <li *ngFor="let post of record.posts">{{ post.title }}</li>
    </ul>
    <button (click)="saveRecord(txtSearch); txtSearch.value" class="btn btn-info">
      guardar
    </button>
  </div>
  <ng-template #notInfo>
    <p #txtMessage [class]="messageError !== InitialmessageError ? 'red':''">
      {{ messageError }}</p>
  </ng-template>
</div>
